* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 1110px;
  margin: auto;
  background-color: #fff;
  padding: 36px 0px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  float: left;
  letter-spacing: -1px;
  font-size: 30px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: #555252;
  line-height: 32px;
  text-transform: uppercase;
}

.logo::first-letter {
  font-weight: 900;
  color: #1abc9c;
}

.navigation {
  float: right;
  padding: 7px 0;
}

.menu .menu__item {
  font-size: 14px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  color: #0f0101;
  line-height: 11px;
  text-transform: uppercase;
  display: inline-block;
}

.menu .menu__item:not(:last-child) {
  margin-right: 34px;
}

.menu .menu__item:hover {
  color: #1abc9c;
}
